#components-layout-demo-responsive .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.2);
}

.site-layout-sub-header-background {
    background: #fff;
}

.site-layout-background {
    background: #fff;
}

.cart-order {
    font-size: 1.2em;
    font-weight: bold;
    padding: 12px 12px;
    margin-left: 30px;

    .ant-btn + .ant-btn {
        margin-left: 20px;
    }

    .submit-icon {
        font-size: 1.5em;
    }
}

.cart-table {
    font-size: 1.1em;
    width: 100%;

    &__container {
        min-height: 400px;
    }
    &__row {
    }

    &__item {
        padding: 10px 0;
        border-bottom: 1px solid rgb(218, 216, 216);
        text-align: center;
    }
    & .item__check {
        width: 5%;
    }
    & .item__info {
        display: flex;
        align-items: center;
        justify-content: center;

        &-title {
            flex: 1;
            padding: 5px;
        }
        &-image {
            margin-left: 20px;
        }
    }
    & .item__title {
    }
    & .item__price {
        width: 15%;
    }
    & .item__amount {
        width: 15%;
    }
    & .item__total {
        width: 15%;
    }
    & .item__action {
        width: 10%;
    }
}

.cart-order {
    &__price {
        display: flex;
        font-size: 1em;
        font-weight: normal;
        align-items: center;
        margin: 15px 0;
        .title {
            margin-right: 10px;
        }
        .price {
            font-size: 1.2em;
            color: #ff4d4f;
        }
    }
}

.empty-cart__container {
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);

    .empty-cart {
        &__item {
            margin: 4px 0;
            font-size: 1em;
        }
        &__img {
        }
        &__title {
            font-weight: bold;
            color: rgba(0, 0, 0, 0.6);
        }
        &__btn {
            .btn-title {
                text-transform: uppercase;
                font-weight: 500;
            }
        }
    }
}
