@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    overflow-y: scroll;
}

.grid {
    max-width: 100%;
    width: 1200px;
    margin: 0 auto;

    &__full-width {
        width: 100%;
    }

    &__row {
        display: flex;
        flex-wrap: wrap;
    }
}

.header {
    // position: relative;
    height: 190px;

    &__navbar {
        // display: flex;
        // justify-content: center;
        margin: -40px 0 0;
    }

    &-with-search {
        // display: flex;
        // justify-content: space-between;
        padding: 36px 0 0;
    }
}

.container {
    width: 100%;
    padding-top: 30px;
}

.container-app {
    min-height: 60vh;
}

.content-app {
    min-height: 100vh;
}
.footer {
    margin-top: 30px;
    width: 100%;
    min-height: 280px;
    background-color: #0d2821;
    &-item{
        width: 100%;
        color: #fff;
        height: 100px;
        &__context{
            padding-left: 16px;
            font-weight: 600;
            font-size: 16px;
        }
        &__body{
            margin-top: 10px;
            display: flex;
            flex-direction: column;

            .body-item + .body-item{
                margin-top: 15px;
            }
            .body-item{

                &__title{
                    display: inline;
                    margin-left: 16px;
                    font-size: 1.1em;
                }
            }
        }
    }
}

.hws {
    &__item {
        display: flex;
        flex: 33.33%;
        margin: auto 0;
    }

    &__logo {
        font-size: 35px;

        &-cart {
            font-size: 25px;
            margin: 10px 35px;
            color: rgb(0, 0, 0);
        }
    }

    &__setting {
        justify-content: flex-end;
        padding: 0 35px;
    }

    &__search {
        justify-content: center;
    }
}

.login-form {
    // width: 100%;
    padding: 0 30px;

    &-container {
        margin-top: 30px;
        width: 100%;
        padding: 30px 50px;
        // background: rgba(161, 161, 161, 0.5);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
    }
    &-content {
        text-align: center;
        font-weight: 600;
        color: #40a9ff;
    }
    &__row-3 {
        display: flex;
        justify-items: space-between;
    }

    &__row-4 {
        display: flex;
        justify-content: center;
    }

    &__item-3 {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__item-4 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.banner {
    // margin-top: 20px;
    // max-width: 100%;
    padding: 0 0 10px;
    // background-color: width;

    &-item {
        img {
            width: 100%;
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
        }
    }

    &-slider {
        // margin: 0 20px;
        // margin-top: 20px;
        // max-width: 100%;
        padding: 0 0 10px;
        background-color: width;

        img {
            width: 100%;
            height: 600px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
        }
    }
}

.ant-carousel {
    & .slick-dots {
        bottom: 20px !important;
        margin-right: 0 !important;
        margin-left: 0 !important;

        & li button:before {
            font-size: 0 !important;
        }
    }
}

// .producer {
//     width: 100%;
//     &-thumb {
//         width: 100px;
//         height: 100px;
//         background-color: rgb(231, 230, 230);
//     }
// }

.product {
    &-decs {
        text-align: center;
        margin: 4px 0 0;
        font-size: 1.6rem;
    }
    &-category {
    }
    &-price {
    }
}

.home {
    &-container {
        margin-bottom: 50px;
    }
    &-item {
        margin-bottom: 15px;
        text-align: center;

        &__title {
            font-size: 2.8rem;
            font-weight: bold;
            margin-bottom: 10px;
            color: rgb(238, 58, 58);
        }
    }
}
.slick-slide {
    padding: 5px 0 10px !important;
}

.avatar-uploader > .ant-upload {
    width: 128px;
    height: 128px;
}
.site-page-header {
    // border: 1px solid rgb(235, 237, 240);
    padding: 0;
}
.ant-row {
    &-center {
        margin-left: 0;
        margin-right: 0;
    }
}

#components-dropdown-demo-arrow .ant-btn {
    margin-right: 8px;
    margin-bottom: 8px;
}
.ant-row-rtl #components-dropdown-demo-arrow .ant-btn {
    margin-right: 0;
    margin-bottom: 8px;
    margin-left: 8px;
}

.user-info-form{
    width: 700px;
    min-height: 430px;
    margin:  0 auto ;
    padding: 0 20px 0;
    background-color: #fff;
    
    .form-header{
        padding-top: 20px;
        text-align: center;
        color: rgb(24, 144, 255);
        margin: 0;
    }
}


.ant-input[disabled]{
    color: #000;
    cursor: default;
}
.ant-picker.ant-picker-disabled{
    color: #000;
    cursor: default;
}

.ant-picker-input > input[disabled]{
    color: #000;
    cursor: default;
}
// .ant-picker.ant-picker-disabled .ant-picker-suffix{
//     color: #000;
// }

.ant-tabs-top > .ant-tabs-nav, .ant-tabs-bottom > .ant-tabs-nav, .ant-tabs-top > div > .ant-tabs-nav, .ant-tabs-bottom > div > .ant-tabs-nav{
    margin: 0;
}

.loading {
    display: flex;
    justify-content: center;
    min-height: 500px;
    align-items: center;
}

.notfound{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    &__header{
        font-size: 5em;
        color:rgb(24, 144, 255);
        margin-bottom: 8px;
    }
}

.search{
    display: flex;

    &-image{
        
    }
    &-title{
        display: flex;
        flex-direction: column;
    }
}
.ant-select-clear{
    margin-right: 50px;
    font-size: 1.1em;
}

.ant-card-meta-title{
    text-align: center;
}