.product-detail {
    &__container {
        padding: 15px;
    }
    &__image {
    }
    &__content {
        display: flex;
        flex-direction: column;
    }
    .content-item {
        font-size: 1.2em;
        font-weight: bold;
        padding: 12px 12px;
        margin-left: 30px;

        &__header {
            text-align: center;
        }
        &__name {
            text-align: center;
        }
        &__price {
            .price-item {
                margin-left: 10px;
            }
        }
        &__provider-name {
        }
        &__category-name {
        }
        &__size {
            display: flex;
            flex-direction: column;

            .size__text {
            }

            .size__table {
                flex-wrap: wrap;
                display: flex;
                justify-content: center;
                margin-top: 16px;

                .radio {
                    font-size: 1em;
                    font-weight: normal;
                    padding: 4px 14px;
                    background-color: #fff;
                    border: 1px solid #ddd;
                    border-radius: 5px;
                    cursor: pointer;
                    transition: all 0.5 linear;

                    &:hover {
                        border-color: #40a9ff;
                        color: #40a9ff;
                    }
                }
                & > .radio {
                    margin-bottom: 8px;
                    margin-right: 10px;
                }
                .selected {
                    border-color: #40a9ff;
                    background-color: #40a9ff;
                    color: #fff !important;
                }

                .disabled {
                    pointer-events: none;
                    opacity: 0.4;
                }
                &-item {
                    margin: 0 8px;
                    border-radius: 10px;
                    border-left: 1px solid #d9d9d9;
                }
            }
        }
        &__table {
            font-size: 1.2em;
        }
        &__submit {
            margin-top: 10px;
            .ant-btn-round.ant-btn-lg {
                height: 48px;
            }
            .submit-icon {
                font-size: 1.5em;
            }
        }
        &__amount {
            .amount-label {
                margin-left: 10px;
                font-size: 1.5rem;
                font-weight: normal;
                display: inline-block;
            }
        }
    }
}

.ant-radio-button-wrapper-disabled {
    cursor: pointer;
}
.ant-radio-button-wrapper:not(:first-child)::before {
    content: none;
}
